{% extends "base.html" %}
{% load bootstrap_tags %}
{% load static from staticfiles %}

{% block content %}

<div class="row justify-content-md-center pt-3">
    <div class="col-12 col-md-8">
        <!--Title-->
        <h1>Contact us</h1>

        <!--Message alerts-->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <div class="row">
            <!--Contact form-->
            <div class="col-12 col-md-6 d-inline-block pb-5">
                <h3>Form</h3>
                <form role="form" method="POST" action="{% url 'contact' %}">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ contact_form|as_bootstrap }}
                        <input class="btn btn-primary" type="submit" value="Send message!">
                    </div>
                </form>
            </div>
            
            <!--Contact/support information-->
            <div class="col-12 col-md-6 d-inline-block pb-5">
                <h3>Information</h3>
                <p class="footer-paragraph pt-3"><i class="far fa-envelope"></i> info@uberhosting.com</p>
                <p class="footer-paragraph"><i class="fas fa-phone-alt"></i> 0123456789</p>
                <p class="footer-paragraph">ADDRESS:</p>
                <p class="footer-paragraph">Uberstreet 25</p>
                <p class="footer-paragraph pb-3">20412 Greenwall, England</p>
                <h3>Phone hours</h3>
                <p class="footer-paragraph">mon - fri: 08:00 - 23:00</p>
                <p class="footer-paragraph">sat - sun: 10:00 - 18:00</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}