{% extends "base.html" %}

{% block title %}Password reset successful{% endblock %}

{% block content %}

<hr class="page-divider">
<div class="row justify-content-md-center">
    <div class="col-12 col-md-8">
        <h1>Email send</h1>
        <div class="alert alert-success" role="alert">
            We've e-mailed you instructions for setting your password to the e-mail address you submitted.<br>
            You should be receiving it shortly.
        </div>
    </div>
</div>

{% endblock %}