{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Reset Password{% endblock %}

{% block content %}

<hr class="page-divider">
<div class="row justify-content-md-center">
    <div class="col-12 col-md-8">
        <h1>Password reset</h1>
        <form method="post" class="accountform">
            <p>Please specify your email address to receive instructions for resetting it.</p>
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            {{ form.email.errors }}
            {{ form.email|as_crispy_field }} <input type="submit" class="btn btn-primary" value="Reset password" />
        </form>
    </div>
</div>

{% endblock %}