@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Roboto&display=swap');

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 389px;
    font-family: 'Roboto', sans-serif;
    padding-top: 52px;
}

h1, h2 {
    font-family: 'Bowlby One SC', cursive;
}

.row {
    margin: 0;
}

.background-grey {
    background-color: #DADADA;
}

.color-green {
    color: #10DE0C;
}

.color-white {
    color: #fafafa;
}

.page-divider {
    border: 2px solid #10DE0C;
    margin-top: 0;
}

/* NAVBAR */
.navbar {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 16px;
    padding-left: 70px;
}

.navbar-toggler {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-link {
    display: inline-block;
}

.nav-link-light {
    color: #fafafa;
}

.nav-link-light:hover {
    color: #10DE0C;
}

.nav-link-dark {
    color: #fafafa;
    padding-left: 8px;
}

.nav-link-dark:hover {
    color: #A9A9A9;
}

.hover-white:hover {
    color: #fafafa;
}

.first-nav{
    color: #fafafa;
    background-color: #000000 !important;
    max-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 16px;
    padding-left: 120px;
    top: 30px;
}

.second-nav{
    min-height: 50px;
    background-color: #000000 !important;
    font-size: 20px;
    top: 0px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.header-logo {
    position: fixed;
    top: 0;
    max-height: 40px;
    margin: 5px 20px;
    z-index: 1040;
}

.background-white {
    background-color: #ffffff;
    height: 30px;
}

/* FOOTER */
footer {
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.footer-settings {
    background-color: #000000;
    color: #fafafa;
}

.footer-paragraph {
    margin-bottom: 0px;
}

.footer-link {
    color: #fafafa;
}

.footer-link:hover {
    color: #10DE0C;
    text-decoration: none;
}

.footer-logo {
    max-height: 20px;
    display: inline-block;
}

.social-media li a i {
    padding-right: 5px;
    color: #fafafa;
    transition: color 0.35s ease-in-out;
    -moz-transition: color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out;
    -o-transition: color 0.35s ease-in-out;
}

.social-media li a i:hover {
    color: #10DE0C;
}

/* OTHER STYLING */
.price-package {
    font-size: 36px;
}

.intro-image {
    position: relative;
    width: 100%;
    height: auto;
}

.intro-image-div {
    max-height: 800px;
    overflow: hidden;
}

.home-image {
    width: 100%;
    height: auto;
}

.home-image-div {
    overflow: hidden;
}


.fa-plus {
    padding-left: 20px;
    padding-right: 20px;
}

.package-row {
    overflow-x: auto;
    flex-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
}

.package-header {
    color: #fafafa;
    background-color: #000000;
    text-align: center;
    padding: 10px 30px;
}

.package-header-highlight {
    background-color: #10DE0C;
}

.package-content {
    color: #000000;
    background-color: #fafafa;
    padding: 5px 30px;
}

.package-content-highlight {
    background-color: #E1FFDC;
}

.package-box {
    min-width: 200px;
    padding: 20px;
    
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding: 20px 20px;
}

.badge {
    font-size: 10px;
    color: #fafafa;
    background-color: #10DE0C;
    padding-left: 7px;
    padding-right: 7px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    margin-left: -15px;
    margin-bottom: 5px;
}

.shopping-icon:hover {
    text-decoration: none;
}

@media (min-width: 768px) {
    body {
        margin: 0 0 271px;
    }
}

@media (min-width: 992px) {
    body {
        padding-top: 120px;
    }
    .nav-link-light {
        color: #000000;
    }
    .navbar {
        padding-left: 120px;
    }
    .second-nav{
        background-color: #ffffff !important;
        font-size: 18px;
        top: 70px;
    }
    .header-logo {
        max-height: 80px;
        margin: 10px 20px;
    }
}
