{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

<hr class="page-divider">
<div class="row justify-content-md-center">
    <div class="col-12 col-md-8">
        <h1>Create a new account</h1>
        <form method="post" action="{% url 'register' %}" class="accountform">
            <fieldset class="form-group">
                <p>Already got an account? <a href="{% url 'login' %}">Sign In</a></p>
                {% csrf_token %}
                {{  user_form | as_bootstrap }}
                <button type="submit" class="btn btn-primary">Create account</button>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}