{% extends "base.html" %}
{% block content %}

<!--Intro image of panet earth-->
<div class="container-fluid p-0">
    <div class="intro-image-div">
        <img src="/static/images/intro.jpg" alt="Planet earth." class="intro-image">
    </div>
</div>

<!--Packages intro (from medium screens)-->
<div class="container-fluid colors-white content-box d-none d-md-block">
    <div class="row justify-content-center">

        <div class="col-12 text-center pt-5">
            <h1>All you need packages!</h1>
        </div>

        <div class="col-12 text-center pb-5 pt-5">
            <div class="d-inline-block">
                <i class="fas fa-server fa-5x"></i>
                <h3>HOSTING</h3>
            </div>
            
            <div class="h-100 align-middle d-inline-block">
                <i class="fas fa-plus fa-3x"></i>
            </div>
            
            <div class="d-inline-block">
                <i class="fas fa-envelope fa-5x"></i>
                <h3>MAIL</h3>
            </div>

            <div class="h-100 align-middle d-inline-block">
                <i class="fas fa-plus fa-3x"></i>
            </div>

            <div class="d-inline-block">
                <i class="fas fa-globe fa-5x"></i>
                <h3>Domains</h3>
            </div>
        </div>
    </div>
</div>

<!--Packages-->
{% include 'packages.html' %}

<!--Server room picture-->
<div class="container-fluid p-0">
    <div class="home-image-div">
        <img src="/static/images/datacenter.jpg" alt="Datacenter." class="home-image">
    </div>
</div>

{% endblock %}