{% extends "base.html" %}
{% block content %}

<div class="container-fluid p-0">
    <div class="intro-image-div">
        <img src="/static/images/intro.jpg" alt="Planet earth." class="intro-image">
    </div>
</div>

{% include 'packages.html' %}

<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>
<p>Hallo</p>


{% endblock %}